:root{
    --bg_color: blue
}
.App.darkModes{
    --bg_color: green
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc( 100% - 8rem );
    padding: 4rem;
    place-self: center;
}
.App{
    background-color: var(--bg_color);
    min-height: 100vh;

}
.App.darkMode{
    background-color: rgb(32, 45, 54);
    color: white;
    .header{
        background-color: rgb(43, 55, 67);
    }

}
@media screen and ( max-width: 768px ){
    .main{
        padding: 2rem;
        width: calc( 100% - 4rem );
    }
}