body
    margin: 0

::-webkit-scrollbar 
    background-color: transparent
    width: 25px

::-webkit-scrollbar-track 

::-webkit-scrollbar-thumb 

::-webkit-scrollbar-thumb 
    width: 10px
    height: 4rem
    background-image: url("https://cdn.pixabay.com/photo/2016/06/14/20/38/planet-earth-1457453_1280.png")
    background-repeat: no-repeat
    background-size: contain
::-webkit-scrollbar-corner

::-webkit-resizer

::-webkit-scrollbar-thumb:hover 
